<h1> <%= @team.name %> </h1>

<%= unless @team.summary_overall_points.nil? %>
  <h3> Overall Points: <%= @team.summary_overall_points %> </h3>
<%= end %>

<%= unless @team.summary_overall_rank.nil? %>
  <h3> Overall Rank: <%= @team.summary_overall_rank %> </h3>
<%= end %>

<h3> Goalkeepers </h3>
<% @team.footballers.gks.each do |player| %>
  <h4> <%= player.last_name %> </h4>
  <p>
    Price: <%= fplprice(player.price) %>
    Club: <%= player.club %>
    Clean Sheets: <%= player.clean_sheets %>
    Saves: <%= player.saves %>
  </p>
<%= end %>

<h3> Defenders </h3>
<% @team.footballers.defs.each do |player| %>
  <h4> <%= player.last_name %> </h4>
  <p>
    Price: <%= fplprice(player.price) %>
    Club: <%= player.club %>
    Clean Sheets: <%= player.clean_sheets %>
    Goals: <%= player.goals %>
    Assists: <%= player.assists %>
  </p>
<%= end %>

<h3> Midfielders </h3>
<% @team.footballers.mids.each do |player| %>
  <h4> <%= player.last_name %> </h4>
  <p>
    Price: <%= fplprice(player.price) %>
    Club: <%= player.club %>
    Goals: <%= player.goals %>
    Assists: <%= player.assists %>
  </p>
<%= end %>

<h3> Forwards </h3>
<% @team.footballers.fwds.each do |player| %>
  <h4> <%= player.last_name %> </h4>
  <p>
    Price: <%= fplprice(player.price) %>
    Club: <%= player.club %>
    Goals: <%= player.goals %>
    Assists: <%= player.assists %>
  </p>
<%= end %>
