<div class="container" id="overlay-container">
  <div class="left-section">
    <div class="team-view" style="background-image: linear-gradient(rgba(250,250,250,0.3),rgba(250,250,250,0.3)), url('<%= image_path "team-background.jpg" %>')">
      <div class="main-team">

      </div>
      <div class="bench">
        <div class="bench-player-gk">

        </div>
        <div class="bench-player">

        </div>
        <div class="bench-player">

        </div>
        <div class="bench-player">

        </div>
      </div>
    </div>
  </div>
  <div class="right-section">
  <h3> <%= @team.name %> </h3>
    <% unless @team.summary_overall_points %>
      <h4> Overall Points: <%= @team.summary_overall_points %> </h4>
    <% end %>

    <% unless @team.summary_overall_rank %>
      <h4> Overall Rank: <%= @team.summary_overall_rank %> </h4>
    <% end %>

    <h4> Goalkeepers </h4>
    <% @team.footballers.gks.each do |player| %>
      <p> <%= player.first_name %> <%= player.web_name %> </p>
      <!-- <p>
        Price: <%= fplprice(player.price) %>
        Club: <%= player.club.name %>
        Clean Sheets: <%= player.clean_sheets %>
        Saves: <%= player.saves %>
      </p> -->
    <% end %>

    <h4> Defenders </h4>
    <% @team.footballers.defs.each do |player| %>
      <p> <%= player.first_name %> <%= player.web_name %> </p>
      <!-- <p>
        Price: <%= fplprice(player.price) %>
        Club: <%= player.club.name %>
        Clean Sheets: <%= player.clean_sheets %>
        Goals: <%= player.goals %>
        Assists: <%= player.assists %>
      </p> -->
    <% end %>

    <h4> Midfielders </h4>
    <% @team.footballers.mids.each do |player| %>
      <p> <%= player.first_name %> <%= player.web_name %> </p>
      <!-- <p>
        Price: <%= fplprice(player.price) %>
        Club: <%= player.club.name %>
        Goals: <%= player.goals %>
        Assists: <%= player.assists %>
      </p> -->
    <% end %>

    <h4> Forwards </h4>
    <% @team.footballers.fwds.each do |player| %>
      <p> <%= player.first_name %> <%= player.web_name %> </p>
      <!-- <p>
        Price: <%= fplprice(player.price) %>
        Club: <%= player.club.name %>
        Goals: <%= player.goals %>
        Assists: <%= player.assists %>
      </p> -->
    <% end %>
  </div>
</div>
