<div class="container" id="overlay-container">
  <div class="left-section">
    <div class="team-view" style="background-image: linear-gradient(rgba(250,250,250,0.3),rgba(250,250,250,0.3)), url('<%= image_path "team-background.jpg" %>')">
      <div class="main-team">
        <div class="row gks">
          <div class="starting-player" id="player<%= gks(@starters)[0].fplid %>">
            <div class="player-content">
              <i class="fas fa-exchange-alt" id="switch"></i>
              <div class="shirt"><%= image_tag("shirts/#{gks(@starters)[0].club.short_name.downcase}.png")  %></div>
              <div class="player-name"><%= gks(@starters)[0].web_name %></div>
            </div>
          </div>
        </div>
        <div class="row defs">
          <% defs(@starters).each do |defender| %>
            <div class="starting-player" id="player<%= defender.fplid %>">
              <div class="player-content">
                <i class="fas fa-exchange-alt" id="switch"></i>
                <div class="shirt"><%= image_tag("shirts/#{defender.club.short_name.downcase}.png")  %></div>
                <div class="player-name"><%= defender.web_name %></div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row mids">
          <% mids(@starters).each do |mid| %>
            <div class="starting-player" id="player<%= mid.fplid %>">
              <div class="player-content">
                <i class="fas fa-exchange-alt" id="switch"></i>
                <div class="shirt"><%= image_tag("shirts/#{mid.club.short_name.downcase}.png")  %></div>
                <div class="player-name"><%= mid.web_name %></div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row fwds">
          <% fwds(@starters).each do |fwd| %>
            <div class="starting-player" id="player<%= fwd.fplid %>">
              <div class="player-content">
                <i class="fas fa-exchange-alt" id="switch"></i>
                <div class="shirt"><%= image_tag("shirts/#{fwd.club.short_name.downcase}.png")  %></div>
                <div class="player-name"><%= fwd.web_name %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="bench">
        <div class="bench-player gk" id="player<%= gks(@bench)[0].fplid %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt" id="switch"></i>
            <div class="shirt"><%= image_tag("shirts/#{gks(@bench)[0].club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= gks(@bench)[0].web_name %></div>
          </div>
        </div>
        <div class="bench-player" id="player<%= @firstsub.fplid %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt" id="switch"></i>
            <div class="shirt"><%= image_tag("shirts/#{@firstsub.club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= @firstsub.web_name %></div>
          </div>
        </div>
        <div class="bench-player" id="player<%= @secondsub.fplid %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt" id="switch"></i>
            <div class="shirt"><%= image_tag("shirts/#{@secondsub.club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= @secondsub.web_name %></div>
          </div>
        </div>
        <div class="bench-player" id="player<%= @thirdsub.fplid %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt" id="switch"></i>
            <div class="shirt"><%= image_tag("shirts/#{@thirdsub.club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= @thirdsub.web_name %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-section">
  <h3> <%= @team.name %> </h3>
    <% unless @team.summary_overall_points %>
      <h4> Overall Points: <%= @team.summary_overall_points %> </h4>
    <% end %>

    <% unless @team.summary_overall_rank %>
      <h4> Overall Rank: <%= @team.summary_overall_rank %> </h4>
    <% end %>

    <h4> Goalkeepers </h4>
    <% @team.footballers.gks.each do |player| %>
      <p> <%= player.first_name %> <%= player.web_name %> </p>
      <!-- <p>
        Price: <%= fplprice(player.price) %>
        Club: <%= player.club.name %>
        Clean Sheets: <%= player.clean_sheets %>
        Saves: <%= player.saves %>
      </p> -->
    <% end %>

    <h4> Defenders </h4>
    <% @team.footballers.defs.each do |player| %>
      <p> <%= player.first_name %> <%= player.web_name %> </p>
      <!-- <p>
        Price: <%= fplprice(player.price) %>
        Club: <%= player.club.name %>
        Clean Sheets: <%= player.clean_sheets %>
        Goals: <%= player.goals %>
        Assists: <%= player.assists %>
      </p> -->
    <% end %>

    <h4> Midfielders </h4>
    <% @team.footballers.mids.each do |player| %>
      <p> <%= player.first_name %> <%= player.web_name %> </p>
      <!-- <p>
        Price: <%= fplprice(player.price) %>
        Club: <%= player.club.name %>
        Goals: <%= player.goals %>
        Assists: <%= player.assists %>
      </p> -->
    <% end %>

    <h4> Forwards </h4>
    <% @team.footballers.fwds.each do |player| %>
      <p> <%= player.first_name %> <%= player.web_name %> </p>
      <!-- <p>
        Price: <%= fplprice(player.price) %>
        Club: <%= player.club.name %>
        Goals: <%= player.goals %>
        Assists: <%= player.assists %>
      </p> -->
    <% end %>
  </div>
</div>
