<div class="container" id="overlay-container">
  <div class="left-section">
    <div class="team-view" style="background-image: linear-gradient(rgba(90,195,0,0.5),rgba(90,195,0,0.5)), url('<%= image_path "team-background.jpg" %>')">
      <div class="league-link"><%= link_to "Leagues", team_leagues_path(@team), id: "call-to-action" %></div>
      <div class="finalize-link"><%= link_to "Finished?", finalize_team_path(@team), id: "call-to-action" %></div>
      <div class="main-team">
        <div class="row gks">
          <div class="starting-player gk" id="player<%= gks(@starters)[0].fplid %>" data-id="<%= gks(@starters)[0].id %>">
            <div class="player-content">
              <i class="fas fa-exchange-alt switch gk-s"></i>
              <i class="fas fa-info player-info"></i>
              <%= link_to edit_player_path(Player.find_by(team: @team, footballer: gks(@starters)[0])) do %>
                <i class="fas fa-times transfer-out"></i>
              <% end %>
              <div class="shirt"><%= image_tag("shirts/#{gks(@starters)[0].club.short_name.downcase}.png")  %></div>
              <!-- <div class="gloves"><%= image_tag("gloves.png", size: "32x32") %></div> -->
              <div class="player-name"><%= gks(@starters)[0].web_name %></div>
              <div class="next-fixture">v <%= next_fixture(gks(@starters)[0]) %></div>
            </div>
          </div>
        </div>
        <div class="row defs">
          <% defs(@starters).each do |defender| %>
            <div class="starting-player def" id="player<%= defender.fplid %>" data-id="<%= defender.id %>">
              <div class="player-content">
                <i class="fas fa-exchange-alt switch s-def"></i>
                <i class="fas fa-info player-info"></i>
                <%= link_to edit_player_path(Player.find_by(team: @team, footballer: defender)) do %>
                  <i class="fas fa-times transfer-out"></i>
                <% end %>
                <div class="shirt"><%= image_tag("shirts/#{defender.club.short_name.downcase}.png")  %></div>
                <div class="player-name"><%= defender.web_name %></div>
                <div class="next-fixture">v <%= next_fixture(defender) %></div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row mids">
          <% mids(@starters).each do |mid| %>
            <div class="starting-player mid" id="player<%= mid.fplid %>" data-id="<%= mid.id %>">
              <div class="player-content">
                <i class="fas fa-exchange-alt switch s-mid"></i>
                <i class="fas fa-info player-info"></i>
                <%= link_to edit_player_path(Player.find_by(team: @team, footballer: mid)) do %>
                  <i class="fas fa-times transfer-out"></i>
                <% end %>
                <div class="shirt"><%= image_tag("shirts/#{mid.club.short_name.downcase}.png")  %></div>
                <div class="player-name"><%= mid.web_name %></div>
                <div class="next-fixture">v <%= next_fixture(mid) %></div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row fwds">
          <% fwds(@starters).each do |fwd| %>
            <div class="starting-player fwd" id="player<%= fwd.fplid %>" data-id="<%= fwd.id %>">
              <div class="player-content">
                <i class="fas fa-exchange-alt switch s-fwd"></i>
                <i class="fas fa-info player-info"></i>
                <%= link_to edit_player_path(Player.find_by(team: @team, footballer: fwd)) do %>
                  <i class="fas fa-times transfer-out"></i>
                <% end %>
                <div class="shirt"><%= image_tag("shirts/#{fwd.club.short_name.downcase}.png")  %></div>
                <div class="player-name"><%= fwd.web_name %></div>
                <div class="next-fixture">v <%= next_fixture(fwd) %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="bench" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(90,195,0,0.5)), url('<%= image_path "bench2.png" %>')">
        <div class="bench-player gk" id="player<%= @gk.footballer.fplid %>" data-id="<%= @gk.footballer.id %>,<%= @gk.bench_pos %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt switch bench-gk"></i>
            <i class="fas fa-info player-info"></i>
            <%= link_to edit_player_path(@gk) do %>
              <i class="fas fa-times transfer-out"></i>
            <% end %>
            <div class="shirt"><%= image_tag("shirts/#{@gk.footballer.club.short_name.downcase}.png")  %></div>
            <!-- <div class="gloves"><%= image_tag("gloves.png", size: "32x32") %></div> -->
            <div class="player-name"><%= @gk.footballer.web_name %></div>
            <div class="next-fixture">v <%= next_fixture(@gk.footballer) %></div>
          </div>
          <div>GK</div>
        </div>
        <div class="bench-player <%= @firstsub.footballer.position.downcase %>" id="player<%= @firstsub.footballer.fplid %>" data-id="<%= @firstsub.footballer.id %>,<%= @firstsub.bench_pos %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt switch bench-s"></i>
            <i class="fas fa-info player-info"></i>
            <%= link_to edit_player_path(@firstsub) do %>
              <i class="fas fa-times transfer-out"></i>
            <% end %>
            <div class="shirt"><%= image_tag("shirts/#{@firstsub.footballer.club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= @firstsub.footballer.web_name %></div>
            <div class="next-fixture">v <%= next_fixture(@firstsub.footballer) %></div>
          </div>
          <div class="bench-position"><%= @firstsub.bench_pos %></div>
        </div>
        <div class="bench-player <%= @secondsub.footballer.position.downcase %>" id="player<%= @secondsub.footballer.fplid %>" data-id="<%=@secondsub.footballer.id %>,<%= @secondsub.bench_pos %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt switch bench-s"></i>
            <i class="fas fa-info player-info"></i>
             <%= link_to edit_player_path(@secondsub) do %>
               <i class="fas fa-times transfer-out"></i>
             <% end %>
            <div class="shirt"><%= image_tag("shirts/#{@secondsub.footballer.club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= @secondsub.footballer.web_name %></div>
            <div class="next-fixture">v <%= next_fixture(@secondsub.footballer) %></div>
          </div>
          <div class="bench-position"><%= @secondsub.bench_pos %></div>
        </div>
        <div class="bench-player <%= @thirdsub.footballer.position.downcase %>" id="player<%= @thirdsub.footballer.fplid %>" data-id="<%= @thirdsub.footballer.id %>,<%= @thirdsub.bench_pos %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt switch bench-s"></i>
            <i class="fas fa-info player-info"></i>
            <%= link_to edit_player_path(@thirdsub) do %>
              <i class="fas fa-times transfer-out"></i>
            <% end %>
            <div class="shirt"><%= image_tag("shirts/#{@thirdsub.footballer.club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= @thirdsub.footballer.web_name %></div>
            <div class="next-fixture">v <%= next_fixture(@thirdsub.footballer) %></div>
          </div>
          <div class="bench-position"><%= @thirdsub.bench_pos %></div>
        </div>
      </div>
    </div>
  </div>

  <div id="team-table">
    <h3> <%= @team.name %> </h3>
    <div class="row justify-content-between team-table-header align-items-center">
      <div class="col-4 first-row">
        <p>Name</p>
      </div>
      <div class="col-2">
        <p>Club</p>
      </div>
      <div class="col-3">
        <p>Price</p>
      </div>
      <div class="col-3">
        <p>Total Points</p>
      </div>
    </div>
    <div class="row justify-content-between position-header align-items-center">
      <div class="col-12 text-center">
        <p>Goalkeepers</p>
      </div>
    </div>
    <% @team.footballers.gks.each do |keeper| %>
    <div class="row justify-content-between team-table-row row-hover-highlight align-items-center footballer" data-photo="<%= keeper.photo %>" data-id="<%= keeper.id %>" data-webName="<%= keeper.web_name %>" data-fullName="<%= "#{keeper.first_name} #{keeper.last_name}" %>" data-club="<%= keeper.club.short_name  %>" data-price="<%= fplprice(keeper.price) %>" data-points="<%= keeper.total_points %>" data-form="<%= keeper.form.to_f %>">
      <div class="col-4 first-row" ><p><%= keeper.web_name %></p></div>
      <div class="col-2" ><p><%= keeper.club.short_name %></p></div>
      <div class="col-3" ><p><%= fplprice(keeper.price) %></p></div>
      <div class="col-3" ><p><%= keeper.total_points %> <%= form_formatter(keeper.form.to_f) %></p></div>
    </div>
    <% end %>
    <div class="row justify-content-between position-header align-items-center">
      <div class="col-12 text-center">
        <p>Defenders</p>
      </div>
    </div>
    <% @team.footballers.defs.each do |defender| %>
    <div class="row justify-content-between team-table-row row-hover-highlight align-items-center footballer" data-photo="<%= defender.photo %>" data-id="<%= defender.id %>" data-webName="<%= defender.web_name %>" data-fullName="<%= "#{defender.first_name} #{defender.last_name}" %>" data-club="<%= defender.club.short_name  %>" data-price="<%= fplprice(defender.price) %>" data-points="<%= defender.total_points %>" data-form="<%= defender.form.to_f %>">
      <div class="col-4 first-row" ><p><%= defender.web_name %></p></div>
      <div class="col-2" ><p><%= defender.club.short_name %></p></div>
      <div class="col-3" ><p><%= fplprice(defender.price) %></p></div>
      <div class="col-3" ><p><%= defender.total_points %> <%= form_formatter(defender.form.to_f) %></p></div>
    </div>
    <% end %>
    <div class="row justify-content-between position-header align-items-center">
      <div class="col-12 text-center">
        <p>Midfielders</p>
      </div>
    </div>
    <% @team.footballers.mids.each do |midfielder| %>
    <div class="row justify-content-between team-table-row row-hover-highlight align-items-center footballer" data-photo="<%= midfielder.photo %>" data-id="<%= midfielder.id %>" data-webName="<%= midfielder.web_name %>" data-fullName="<%= "#{midfielder.first_name} #{midfielder.last_name}" %>" data-club="<%= midfielder.club.short_name  %>" data-price="<%= fplprice(midfielder.price) %>" data-points="<%= midfielder.total_points %>" data-form="<%= midfielder.form.to_f %>">
      <div class="col-4 first-row" ><p><%= midfielder.web_name %></p></div>
      <div class="col-2" ><p><%= midfielder.club.short_name %></p></div>
      <div class="col-3" ><p><%= fplprice(midfielder.price) %></p></div>
      <div class="col-3" ><p><%= midfielder.total_points %> <%= form_formatter(midfielder.form.to_f) %></p></div>
    </div>
    <% end %>
    <div class="row justify-content-between position-header align-items-center">
      <div class="col-12 text-center">
        <p>Forwards</p>
      </div>
    </div>
    <% @team.footballers.fwds.each do |forward| %>
    <div class="row justify-content-between team-table-row row-hover-highlight align-items-center footballer" data-photo="<%= forward.photo %>" data-id="<%= forward.id %>" data-webName="<%= forward.web_name %>" data-fullName="<%= "#{forward.first_name} #{forward.last_name}" %>" data-club="<%= forward.club.short_name  %>" data-price="<%= fplprice(forward.price) %>" data-points="<%= forward.total_points %>" data-form="<%= forward.form.to_f %>">
      <div class="col-4 first-row" ><p><%= forward.web_name %></p></div>
      <div class="col-2" ><p><%= forward.club.short_name %></p></div>
      <div class="col-3" ><p><%= fplprice(forward.price) %></p></div>
      <div class="col-3" ><p><%= forward.total_points %> <%= form_formatter(forward.form.to_f) %></p></div>
    </div>
    <% end %>
  </div>
</div>

<div class="player-switch-form">
  <%= form_for(@team, url: switch_team_path) do |f| %>
    <%= f.hidden_field :player1, id: "switch1", value: 0 %>
    <%= f.hidden_field :player2, id: "switch2", value: 0 %>

    <div class="form-actions" id="">
      <%= f.button :submit, class: 'btn btn-outline-light hidden' %>
    </div>
  <% end %>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>