<div class="container" id="overlay-container">
  <div class="left-section">
    <div class="team-view" style="background-image: linear-gradient(rgba(250,250,250,0.3),rgba(250,250,250,0.3)), url('<%= image_path "team-background.jpg" %>')">
      <div class="main-team">
        <div class="row gks">
          <div class="starting-player gk" id="player<%= gks(@starters)[0].fplid %>" data-id="<%= gks(@starters)[0].id %>">
            <div class="player-content">
              <i class="fas fa-exchange-alt switch"></i>
              <div class="shirt"><%= image_tag("shirts/#{gks(@starters)[0].club.short_name.downcase}.png")  %></div>
              <div class="player-name"><%= gks(@starters)[0].web_name %></div>
            </div>
          </div>
        </div>
        <div class="row defs">
          <% defs(@starters).each do |defender| %>
            <div class="starting-player def" id="player<%= defender.fplid %>" data-id="<%= defender.id %>">
              <div class="player-content">
                <i class="fas fa-exchange-alt switch"></i>
                <div class="shirt"><%= image_tag("shirts/#{defender.club.short_name.downcase}.png")  %></div>
                <div class="player-name"><%= defender.web_name %></div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row mids">
          <% mids(@starters).each do |mid| %>
            <div class="starting-player mid" id="player<%= mid.fplid %>" data-id="<%= mid.id %>">
              <div class="player-content">
                <i class="fas fa-exchange-alt switch"></i>
                <div class="shirt"><%= image_tag("shirts/#{mid.club.short_name.downcase}.png")  %></div>
                <div class="player-name"><%= mid.web_name %></div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row fwds">
          <% fwds(@starters).each do |fwd| %>
            <div class="starting-player fwd" id="player<%= fwd.fplid %>" data-id="<%= fwd.id %>">
              <div class="player-content">
                <i class="fas fa-exchange-alt switch"></i>
                <div class="shirt"><%= image_tag("shirts/#{fwd.club.short_name.downcase}.png")  %></div>
                <div class="player-name"><%= fwd.web_name %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="bench">
        <div class="bench-name"><h4>Bench:</h4></div>
        <div class="bench-player gk" id="player<%= gks(@bench)[0].fplid %>" data-id="<%= gks(@bench)[0].id %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt switch bench-gk"></i>
            <div class="shirt"><%= image_tag("shirts/#{gks(@bench)[0].club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= gks(@bench)[0].web_name %></div>
          </div>
          <div class="bench-position">GK</div>
        </div>
        <div class="bench-player outfielder" id="player<%= outfielders(@bench)[0].fplid %>" data-id="<%= outfielders(@bench)[0].id %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt switch bench-s"></i>
            <div class="shirt"><%= image_tag("shirts/#{outfielders(@bench)[0].club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= outfielders(@bench)[0].web_name %></div>
          </div>
          <div class="bench-position"><%= outfielders(@bench)[0].position %></div>
        </div>
        <div class="bench-player outfielder" id="player<%= outfielders(@bench)[1].fplid %>" data-id="<%=outfielders(@bench)[1].id %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt switch bench-s"></i>
            <div class="shirt"><%= image_tag("shirts/#{outfielders(@bench)[1].club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= outfielders(@bench)[1].web_name %></div>
          </div>
          <div class="bench-position"><%= outfielders(@bench)[1].position %></div>
        </div>
        <div class="bench-player outfielder" id="player<%= outfielders(@bench)[2].fplid %>" data-id="<%= outfielders(@bench)[2].id %>">
          <div class="player-content">
            <i class="fas fa-exchange-alt switch bench-s"></i>
            <div class="shirt"><%= image_tag("shirts/#{outfielders(@bench)[2].club.short_name.downcase}.png")  %></div>
            <div class="player-name"><%= outfielders(@bench)[2].web_name %></div>
          </div>
          <div class="bench-position"><%= outfielders(@bench)[2].position %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-section">
  <h3> <%= @team.name %> </h3>
    <% unless @team.summary_overall_points %>
      <h4> Overall Points: <%= @team.summary_overall_points %> </h4>
    <% end %>

    <% unless @team.summary_overall_rank %>
      <h4> Overall Rank: <%= @team.summary_overall_rank %> </h4>
    <% end %>

    <h4> Goalkeepers </h4>
    <ul>
      <% @team.footballers.gks.each do |player| %>
        <li><%= "#{player.first_name} #{player.web_name} #{form_formatter(player.form.to_f)} - Price: #{fplprice(player.price)} | Club: #{player.club.name}"%></li>
      <% end %>
    </ul>
    <hr>
    <h4> Defenders </h4>
    <ul>
      <% @team.footballers.defs.each do |player| %>
        <li><%= "#{player.first_name} #{player.web_name} #{form_formatter(player.form.to_f)} - Price: #{fplprice(player.price)} | Club: #{player.club.name}"%></li>
      <% end %>
    </ul>
    <hr>
    <h4> Midfielders </h4>
    <ul>
      <% @team.footballers.mids.each do |player| %>
        <li><%= "#{player.first_name} #{player.web_name} #{form_formatter(player.form.to_f)} - Price: #{fplprice(player.price)} | Club: #{player.club.name}"%></li>
      <% end %>
    </ul>
    <hr>
    <h4> Forwards </h4>
    <ul>
      <% @team.footballers.fwds.each do |player| %>
        <li><%= "#{player.first_name} #{player.web_name} #{form_formatter(player.form.to_f)} - Price: #{fplprice(player.price)} | Club: #{player.club.name}"%></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="player-switch-form">
  <%= form_for(@team, url: switch_team_path) do |f| %>
    <%= f.hidden_field :player1, id: "switch1", value: 0 %>
    <%= f.hidden_field :player2, id: "switch2", value: 0 %>

    <div class="form-actions" id="">
      <%= f.button :submit, class: 'btn btn-outline-light hidden' %>
    </div>
  <% end %>
</div>
