<div class="container w-50">
  <% @fixtures.each do |fixture| %>
    <div class="d-flex flex-row justify-content-center">
            <%# <p><%= `#{fixture["home_team"]} #{fixture["home_score"]} | #{fixture["away_score"]} #{fixture["away_team"]}` %>
      <% if fixture["gameweek"] %>
        <div class="p-2 flex-grow-1"> <%= fixture["home_team"] %> </div>
        <div class="p-2 w-10"><%= fixture["home_score"] %> </div>
        <div class="px-5 py-2 w-10"> | </div> 
        <div class="p-2 w-10"><%= fixture["away_score"] %></div>
        <div class="p-2 flex-grow-1 text-right"><%= fixture["away_team"] %></div>
      <% end %>
    </div>
  <% end %>
</div>
