<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-left">
    <% unless action_name == 'home' %>
      <%= link_to root_path do %>
        <%= image_tag "logo.png", alt: 'expected fpl logo', id: 'nav-logo' %>
      <% end %>
    <% end %>
  </div>

  <!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  <div class="nav-right">
    <% unless user_signed_in? %>
      <%= link_to "Login", new_user_session_path, class: "nav-link", id: "nav-call-to-action" %>
    <% end %>
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% if current_user.teams.present? %>
                <%= link_to "Team", team_path(current_user.teams.first), class: "dropdown-item" %>
              <% else %>
                <%= link_to "Create Team", new_team_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Fixtures", fixtures_path(status: "current", search: { query: params.dig(:search, :query) }), class: "dropdown-item" %>
              <%= link_to "Player Directory", footballers_path, class: "dropdown-item" %>
              <a href="https://fantasy.premierleague.com/" class="dropdown-item" target="_blank">Premier League</a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to 'Sign-up', new_user_registration_path, class: "dropdown-item" %>
              <% if guest_user.teams.present? %>
                <%= link_to "Team", team_path(guest_user.teams.last), class: "dropdown-item" %>
              <% else %>
                <%= link_to "Create Team", new_team_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Fixtures", fixtures_path, class: "dropdown-item" %>
              <%= link_to "Player Stats", footballers_path, class: "dropdown-item" %>
              <%= link_to "Take a Tour", new_team_path, class: "dropdown-item" %>
              <a href="https://fantasy.premierleague.com/" class="dropdown-item" target="_blank">Premier League</a>
            </div>
          </li>
        <% end %>
        </ul>
    </div>
  </div>
</div>
