<div class="container background-transparent">
  <h2 class="pt-4">Player Stats</h2>
  <div class="row m-3 justify-content-between">
    <div>
      <%= render "footballer_filter_form" %>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-between table-header align-items-center">
      <div class="col">
        <p>Name</p>
      </div>
      <div class="col">
        <p>Player Position
          <% if params[:filter_by_position].present? %>
            </p><p class="filter-feedback"><i class="fas fa-filter"></i> <%= params[:filter_by_position] %>
          <% end %>
        </p>
      </div>
      <div class="col">
        <p>Club
          <% if params[:filter_by_club].present? %>
            </p><p class="filter-feedback"><i class="fas fa-filter"></i> <%= params[:filter_by_club] %>
          <% end %>
        </p>
      </div>
      <div class="col">
        <p>Appearance Chances</p>
      </div>
      <div class="col">
        <p>Price
          <% if params[:filter_by_max_price].present? && params[:filter_by_max_price].to_f < @max_p %>
            </p><p class="filter-feedback"><i class="fas fa-filter"></i> Max: <%= params[:filter_by_max_price] %>
          <% end %>
        </p>
      </div>
      <div class="col">
        <p>Total Points</p>
      </div>
    </div>
  </div>
  <div class="container table-body" style="overflow:scroll; max-height:50vh;">
    <% unless @footballers.present? %>
    <div class="text-center">
      <div class="m-4"><h3>⚽️😐 No Players Matching Your Filter Criteria 😐⚽️</h3></div>
      <div><%= link_to "Reset Filters", footballers_path, class: "btn btn-secondary btn-sm", data: { turbolinks: false } %></div>
    </div>
    <% end %>
    <% @footballers.each do |footballer| %>
    <div class="row justify-content-between table-row align-items-center footballer">
      <div class="col web-name" data-webName="<%= footballer.web_name %>" data-fullName="<%= "#{footballer.first_name} #{footballer.last_name}" %>" data-form="<%= footballer.form.to_f %>"><p><%= footballer.web_name %> <%= form_formatter(footballer.form.to_f) %></p></div>
      <div class="col position" data-position="<%= footballer.position  %>"><p><%= footballer.position %></p></div>
      <div class="col club" data-club="<%= footballer.club.name  %>"><p><%= footballer.club.name %></p></div>
      <div class="col chances" data-chances="<%= footballer.chance_of_playing_next_round %>" data-news="<%= footballer.news %>"><p><%= chances_formatter(footballer.chance_of_playing_next_round) %></p></div>
      <div class="col price" data-price="<%= fplprice(footballer.price) %>"><p><%= fplprice(footballer.price) %></p></div>
      <div class="col points" data-points="<%= footballer.total_points %>"><p><%= footballer.total_points %></p></div>
    </div>
    <% end %>
  </div>
</div>
