<div class="container background-transparent">
  <h2 class="pt-4">Player Directory</h2>
  <div class="row m-3 justify-content-between">
    <div>
      <%= render "footballer_filter_form" %>
    </div>
  </div>
  <div class="container">
    <p id="footballer-count"></p>
    <div class="row justify-content-between filters align-items-center">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col">
        <p id="sort-price-up" class="sort-icon text-center hidden"><i class="fas fa-sort-up"></i></p>
      </div>
      <div class="col">
        <p id="sort-points-up" class="sort-icon text-center hidden"><i class="fas fa-sort-up"></i></p>
      </div>
    </div>
    <div class="row justify-content-between table-header align-items-center">
      <div class="col">
        <p>Name</p>
      </div>
      <div class="col">
        <p>Position</p>
      </div>
      <div class="col">
        <p>Club</p>
      </div>
      <div class="col">
        <p>Appearance Chances</p>
      </div>
      <div class="col">
        <p>Price</p>
      </div>
      <div class="col">
        <p>Total Points</p>
      </div>
    </div>
    <div class="row justify-content-between filters align-items-center">
      <div class="col"></div>
      <div class="col">
        <% if params[:filter_by_position].present? %>
          <p class="filter-feedback"><i class="fas fa-filter"></i> <%= params[:filter_by_position] %></p>
        <% end %>
      </div>
      <div class="col">
        <% if params[:filter_by_club].present? %>
          <p class="filter-feedback"><i class="fas fa-filter"></i> <%= params[:filter_by_club] %></p>
        <% end %>
      </div>
      <div class="col"></div>
      <div class="col">
        <% if params[:filter_by_max_price].present? && params[:filter_by_max_price].to_f < @max_p %>
          <p class="filter-feedback"><i class="fas fa-filter"></i> Max: <%= params[:filter_by_max_price] %></p>
        <% end %>
        <p id="sort-price-down" class="sort-icon text-center hidden"><i class="fas fa-sort-down"></i></p>
      </div>
      <div class="col">
        <p id="sort-points-down" class="sort-icon active text-center"><i class="fas fa-sort-down"></i></p>
      </div>
    </div>
  </div>
  <div class="container table-body" style="overflow:scroll; max-height:50vh;">
    <% unless @footballers.present? %>
    <div class="text-center">
      <div class="m-4"><h3>⚽️😐 No Players Matching Your Filter Criteria 😐⚽️</h3></div>
      <div><%= link_to "Reset Filters", footballers_path, class: "btn btn-secondary btn-sm", data: { turbolinks: false } %></div>
    </div>
    <% end %>
    <% @footballers.each do |footballer| %>
    <div class="row justify-content-between table-row row-hover-highlight align-items-center footballer" data-webName="<%= footballer.web_name %>" data-fullName="<%= "#{footballer.first_name} #{footballer.last_name}" %>" data-position="<%= footballer.position %>" data-club="<%= footballer.club.name %>" data-chances="<%= footballer.chance_of_playing_next_round %>" data-news="<%= footballer.news %>" data-price="<%= fplprice(footballer.price) %>" data-points="<%= footballer.total_points %>" data-form="<%= footballer.form.to_f %>">
      <div class="col" ><p><%= footballer.web_name %></p></div>
      <div class="col" ><p><%= footballer.position %></p></div>
      <div class="col" ><p><%= footballer.club.name %></p></div>
      <div class="col" ><p><%= chances_formatter(footballer.chance_of_playing_next_round) %></p></div>
      <div class="col" ><p><%= fplprice(footballer.price) %></p></div>
      <div class="col" ><p><%= footballer.total_points %> <%= form_formatter(footballer.form.to_f) %></p></div>
    </div>
    <% end %>
  </div>
</div>
