<div class="container pt-4" id="overlay-container">
  <h2>Player Directory</h2>
  <div class="row mb-3">
    <div class="col-4">
      <%= render "footballer_filter_form" %>
    </div>
  </div>
  <div style="overflow:scroll; max-height:600px;">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Full Player Name</th>
          <th scope="col">Common Name</th>
          <th scope="col">Player Position</th>
          <th scope="col">Club</th>
          <th scope="col">Price</th>
          <th scope="col">Total Points</th>
        </tr>
      </thead>
        <tbody>
          <% @footballers.each do |footballer| %>
            <tr>
              <td scope="row"><%= "#{footballer.first_name} #{footballer.last_name}" %></td>
              <td><%= footballer.web_name %></td>
              <td><%= footballer.position %></td>
              <td><%= footballer.club.name %></td>
              <td><%= fplprice(footballer.price) %></td>
              <td><%= footballer.total_points %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
