<% content_for :chartkick do %>
  <%= javascript_pack_tag 'chartkick' %>
<% end %>



<% photo = @footballer.photo.gsub(".jpg", "") %>
<% color = Club.find(@footballer.club_id).short_name %>


<div class="container">

    <div class="container d-flex player-header px-0 align-items-end <%= color %> ">
        <div class="container">
            <image src="https://resources.premierleague.com/premierleague/photos/players/110x140/p<%= photo %>.png" alt="">
        </div>
        <div style="text-align: right;">
            <div id="icons-container">
              <div id="player-show-icons" class="p-2">Flex item</div>
              <div id="player-show-icons" class="p-2">Flex item</div>
              <div id="player-show-icons" class="p-2">Flex item</div>
              <div id="player-show-icons" class="p-2">Flex item</div>
              <div id="player-show-icons" class="p-2">Flex item</div>
              <div id="player-show-icons" class="p-2">Flex item</div>
            </div>
        
            <div class="text-light text-right p-3">
                <h5><strong><%= @footballer.full_name %></strong></h5>
            </div>
        </div>

    </div>
    
    


    <div class="container bg-white d-flex">
        <div class="container w-20 mx-0 my-2">
            <div class="py-3">
                
                <div class="d-flex align-items-end">
                    <div class="align-self-end">Chance of playing next game: </div>
                    <div class="align-self-end px-3 align-text-bottom"> <%= @footballer.chance_of_playing_this_round %> % </div>
                </div>
                <progress id="file" max="100" value="<%= @footballer.chance_of_playing_this_round %>"></progress>
            </div>
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= @footballer.position %></li>
                <li class="list-group-item "><h3>£<%= @footballer.price %></h3></%li>
                <li class="list-group-item"><%= @footballer.minutes %> minutes played</li>
                <li class="list-group-item">
                    <strong><%= @footballer.minutes.zero? ? "0" : @footballer.bps / @footballer.minutes %></strong>BPS per minute

                </li>
                <li class="list-group-item">
                    <% if %w(GK DEF).include?(@footballer.position) %>
                        <p><%= @footballer.clean_sheets %> clean sheets</p>
                    <% else %>
                        <p><%= @footballer.goals %> goals scored</p>
                    <% end %>
                </li>

              </ul>
            </div>
        </div>
      <div class="w-50">
        
        <div id="graph-container" class="bg-light p-4">
            <%= line_chart wma_hash(bps(@footballer.fplid), maws = 3), id: "bps-chart", width: "400px", height: "150px", xtitle: "Bonus Points", precision: 3 %>
            <%= line_chart popularity(@footballer.fplid),id: "popularity-chart", width: "400px", height: "150px", xtitle: "Net Transfers", precision: 3 %>
        </div>
        
        <table class="table table-dark" style="width: 100%">
          <thead>
            <tr>
              <th colspan="4">Upcoming fixtures</th>
            </tr>
          </thead>
          <tbody>
          <% next_fixtures(@footballer, 3).each do |f| %>
            <tr>
              <th scope="row"><%= f[:kickoff] %></th>
              <td><%= image_tag("shirts/#{f[:shirt]}.png", size: "32x22")  %></td>
              <td><%= f[:opponent] %></td>
              <td><% f[:home_or_away] %></td>
            </tr>
          <% end %>
            <tfoot>
              <tr>
              <td style="text-align:right" colspan="4">View player's full fixture list<i class="fas fa-arrow-right"></i></td>
            </tfoot>
          </tbody>
        </table>
      </div>   
    </div>
</div>
