<!DOCTYPE html>
<html>
  <head>
    <title>Expectedfpl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield(:chartkick) %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div id="pitch-bg" class="body-content" style="background-image: url('<%= image_path "pitch_background_2.jpg" %>')">
      <%= yield %>
    </div>
  </body>
</html>
