<!DOCTYPE html>
<html>
  <head>
    <title>expectedFPL - FPL made quick, easy and data driven</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <%= yield(:chartkick) %>

    <meta name="description" content="Climb up your Fantasy Premier League rankings with ExpectedFPL. We do all the hard work and drown out all the noise and analytics so you pick your team fast and efficiently.">
    <meta property="og:title" content="expectedFPL - FPL made quick, easy and data driven">
    <meta property="og:image" content="<%= image_path 'og_image.jpg' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.expectedfpl.com">
    <meta property="og:description" content="Climb up your Fantasy Premier League rankings with ExpectedFPL. We do all the hard work and drown out all the noise and analytics so you pick your team fast and efficiently.">
    <meta property="og:site_name" content="expectedFPL"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url('<%= image_path "pitch_background_2.jpg" %>')">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div id="pitch-bg" class="body-content">
      <%= yield %>
    </div>
  </body>
</html>
